/* 영화 카드 컨테이너 */
.movie-card {
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    width: 200px; /* 고정 크기 */
    height: 300px; /* 고정 크기 */
}

/* 호버 시 크기 조정 */
.movie-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
    z-index: 2;
}

/* 영화 포스터 */
.movie-poster {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

/* 영화 정보 */
.movie-info {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4));
    color: white;
    padding: 10px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* 호버 시 영화 정보 표시 */
.movie-card:hover .movie-info {
    opacity: 1;
}

/* 영화 제목 */
.movie-title {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

/* 영화 별점 */
.movie-rating {
    font-size: 0.9rem;
    color: #a87de3; /* 별점 색상 (노란색) */
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
}


.no-image-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #444;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    height: 300px; /* 이미지 크기에 맞게 설정 */
    width: 100%; /* 이미지 비율에 맞게 설정 */
    border-radius: 10px;
    text-align: center;
}